---
import { division, type TOperacion } from "../lib/division_v3";

interface Props {
	dividendo: string;
	divisor: string;
	decimales: string;
}

const { dividendo, divisor, decimales } = Astro.props;
const divi = division(dividendo, divisor, decimales);
---
<table cellspacing="0">
	<tr>
		<td rowspan="2">-</td>
		{
			divi.fraccion.numerador.toString()
				.toString()
				.split("")
				.map((num: string) => <td style="color: darkred;">{num}</td>)
		}
		<td></td>
		{
			divi.fraccion.denominador.toString()
				.toString()
				.split("")
				.map((num: string, index: number) => (
					<td
						style={`padding:1px;${index === 0 ? "BORDER-left: 2px solid black;" : ""}BORDER-bottom: 2px solid black; color:darkblue`}
					>
						{num}
					</td>
				))
		}
	</tr>
	<tr>
		{
			divi.operaciones[0].sustraendo
				.padStart(divi.operaciones[0].minuendo.length, " ")
				.padEnd(dividendo.toString().length, " ")
				.split("")
				.map((num: string, index: number) => (
					<td
						style={`${index < divi.operaciones[0].minuendo.length ? "BORDER-bottom: 2px solid #000000;" : ""}`}
					>
						{num}
					</td>
				))
		}
		<td></td>
		{
			divi.cociente
				.toString()
				.split("")
				.map((num: string) => (
					<td style="padding:1px;BORDER-top: 2px solid black; color: darkgreen">
						{num}
					</td>
				))
		}
	</tr>
	{
		divi.operaciones.map((data: TOperacion, index: number) =>
			index === 0 ? null : (
				<tr>
					<td
						colspan={data.colspan}
						rowspan={2}
						style="text-align: right;"
					>-</td>
					{data.minuendo.split("").map((num: string) => (
						<td>{num}</td>
					))}
				</tr>
				<tr>
					{data.sustraendo
						.padStart(data.minuendo.length, " ")
						.split("")
						.map((num: string) => (
							<td style="BORDER-bottom: 2px solid #000000">
								{num}
							</td>
						))}
				</tr>
			),
		)
	}
	<tr>
		{
			divi.operaciones[divi.operaciones.length-1].colspan == 0
			?<></>
			:<td colspan={divi.operaciones[divi.operaciones.length-1].colspan}></td>
		}
		<td
			>{
				divi.operaciones[divi.operaciones.length - 1].resta
					.split("")
					.map((num: string) => <td>{num}</td>)
			}</td
		>
	</tr>
</table>
<style>
	table {
		font-size: 16px;
		font-weight: 500;
		border: 0px solid white;
		border-collapse: collapse;
	}
	td {
		border: 0px solid lightblue;
		padding: 1px;
		margin: 1px;
		text-align: center;
	}
</style>
